<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    {% for key, value in info.items %}

        <p>{{ key }} - {{ value }}</p>

    {% endfor %}

    <hr>

    <form action='{% url 'show_currency'%}' method="get">
        <label for="currency">Выберете валюту</label>
        <select id="currency" name="id">
            {% for currency in currencies %}
                <option value="{{ currency.id }}">{{ currency.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Выбрать">
    </form>
</body>
</html>