{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currencies</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'img/ico.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
            <form class="row align-items-top justify-content-center" action='{% url 'show_currency'%}' method="get">
                <div class="col-1 m-auto">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </div>

                <div class="col">
                    <label for="start">Выберите дату:</label>
                    <input class="form-control" type="date" id="start" name="date"
                           value={% if chosen_date is None %}
                                      {{ date_now }}
                                  {% else %}
                                      {{ chosen_date }}
                                  {% endif %}
                           min="1992-07-01"
                           max="{{ date_now }}">

                    <br>

                    <input class="btn btn-success" type="submit" value="Выбрать">
                </div>

                <div class="col">
                    <label for="currency">Выберете валюту:</label>
                    <select class="form-select" id="currency" name="id" multiple>
                        {% for id, name in currencies.items %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>

                    <input class="form-check-input" type="checkbox" name="is_all" id="all_checkbox">
                    <label class="form-check-label" for="all_checkbox">Показать все валюты</label>
                </div>
            </form>
    </div>

    <hr>

    <table class="table table-sm table-hover table-bordered" rules="all">
        <thead>
            <tr class="table-success">
                <th scope="col">Цифр. код</th>
                <th scope="col">Букв. код</th>
                <th scope="col">Единиц</th>
                <th scope="col">Валюта</th>
                <th scope="col">Курс</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for currency in info %}
                <tr>
                    {% for value in currency.values %}
                        {% if value is not None %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <div class="download-links">
        <a class="btn btn-success" href="http://localhost:8000/static/files/currencies.xlsx">Сохранить в Excel</a>
        <a class="btn btn-success" href="http://localhost:8000/static/files/currencies.csv">Сохранить в CSV</a>
        <a class="btn btn-success" href="http://localhost:8000/static/files/currencies.pdf">Сохранить в PDF</a>
    </div>
</body>
</html>