<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currencies</title>
</head>
<body>
    <form action='{% url 'show_currency'%}' method="get" style="text-align: center">
        <label for="currency">Выберете валюту</label>
        <select id="currency" name="id" multiple>
            {% for currency in currencies %}
                <option value="{{ currency.id }}">{{ currency.name }}</option>
            {% endfor %}
        </select>

        <label for="all_checkbox">Показать все валюты</label>
        <input type="checkbox" name="is_all" id="all_checkbox">

        <input type="submit" value="Выбрать">
    </form>

    <hr>

    <table style="margin-left: auto; margin-right: auto; width: 60%" rules="all">
        <tr>
            <td>Цифр. код</td>
            <td>Букв. код</td>
            <td>Единиц</td>
            <td>Валюта</td>
            <td>Курс</td>
        </tr>
        {% for currency in info %}
            <tr>
                {% for value in currency.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <hr>

    <form method="get" action="{% url 'export_currency' %}" style="text-align: center">
        <label for="export">Экспортировать как...</label>
        <select id="export" name="export-type">
            <option value="excel">Excel</option>
            <option value="csv">CSV</option>
            <option value="pdf">PDF</option>
        </select>

        <input type="submit" value="Выбрать">
    </form>
</body>
</html>